<div class="container">
    <h2>Login</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" formControlName="email">

        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="text" class="form-control" formControlName="password">


        </div>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>